h2 Incoming relations
table(class='table table-striped')
  thead
    tr
      th Subject
      th Predicate
  tbody
    each quad in incomingQuads
      tr
        td
          if quad.subject.termType == 'NamedNode'
            a(href=quad.object.value) #{toPrefix(quad.object.value)}
          else
            span #{toPrefix(quad.object.value)}
        td
          if quad.predicate.termType == 'NamedNode'
            a(href=quad.predicate.value) #{toPrefix(quad.predicate.value)}
          else
            span #{toPrefix(quad.predicate.value)}